<% form_for(@author) do |f| %>
  <%= f.error_messages %>

  First name: <%= f.text_field :first_name %><br />
  Last name: <%= f.text_field :last_name %><br />

  <p>
    <%= f.submit (@author.new_record? ? 'Create' : 'Update') %>
  </p>
<% end %>